<section class="hero hero--compact">
  <div>
    <p class="eyebrow">Templates</p>
    <h2>Edit Quote Template</h2>
  </div>
</section>

<section class="panel">
  <%= render "form", quote_template: @quote_template %>
</section>
